.friendsList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 300px;
    }
    
    .friendListItem {
    display: flex;
    padding: 0;
    margin-bottom: 5px;
    align-items: center;
    }
    
    .avatar {
    margin-right: 5px;
    border-radius: 10px;
    }
    
    .status {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    margin-right: 5px;
    }
    
    .isOnline {
    composes: status;
    background-color: green;
    }
    
    .isOfline {
    composes: status;
    background-color: red;
    }